PTJ.Person.Presentation.Web/App_WebReferences/AdressTypService/AdressTypService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="All">
        <s:complexType />
      </s:element>
      <s:element name="AllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllResult" type="tns:TransportMessageOfArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfArrayOfAdressTypSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfAdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfAdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdressTypSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdressTypSchema" nillable="true" type="tns:AdressTypSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdressTypSchema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Typ" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SkapadDatum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateradDatum" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msgType" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="EventTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ordinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="eventTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Nothing" />
          <s:enumeration value="Information" />
          <s:enumeration value="Validation" />
          <s:enumeration value="Security" />
          <s:enumeration value="Warning" />
          <s:enumeration value="Abbend" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PTJSoapHeader" type="tns:PTJSoapHeader" />
      <s:complexType name="PTJSoapHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeView" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentDataRole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentRowLevelSecurity" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ByIdResult" type="tns:TransportMessageOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfAdressTypSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:AdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:AdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByTyp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByTypResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByTypResult" type="tns:TransportMessageOfArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByAdressResult" type="tns:TransportMessageOfArrayOfKeyValueOfAdressTypSchemaAdressSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfArrayOfKeyValueOfAdressTypSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfKeyValueOfAdressTypSchemaAdressSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfKeyValueOfAdressTypSchemaAdressSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValueOfAdressTypSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAdressTypSchemaAdressSchema" nillable="true" type="tns:KeyValueOfAdressTypSchemaAdressSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueOfAdressTypSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="tns:AdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:AdressSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdressSchema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressTyp_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Person_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Organisation_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressVariant_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SkapadDatum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateradDatum" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByAdressVariant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByAdressVariantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByAdressVariantResult" type="tns:TransportMessageOfArrayOfKeyValueOfAdressTypSchemaAdressVariantSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfArrayOfKeyValueOfAdressTypSchemaAdressVariantSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfKeyValueOfAdressTypSchemaAdressVariantSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfKeyValueOfAdressTypSchemaAdressVariantSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValueOfAdressTypSchemaAdressVariantSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAdressTypSchemaAdressVariantSchema" nillable="true" type="tns:KeyValueOfAdressTypSchemaAdressVariantSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueOfAdressTypSchemaAdressVariantSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="tns:AdressTypSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:AdressVariantSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdressVariantSchema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressTyp_FKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Variant" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SkapadDatum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateradDatum" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAdressTyp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAdressTypResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAdressTypResult" type="tns:TransportMessageOfArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeAdressTyp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeAdressTypResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeAdressTypResult" type="tns:TransportMessageOfArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAdressTyp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveAdressTypResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveAdressTypResult" type="tns:TransportMessageOfArrayOfAdressTypSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentTimeView">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentTimeViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentTimeViewResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCurrentTimeView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCurrentTimeViewResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AllSoapIn">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="AllSoapOut">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="AllPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ById" />
  </wsdl:message>
  <wsdl:message name="ByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ByIdPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetByTypSoapIn">
    <wsdl:part name="parameters" element="tns:GetByTyp" />
  </wsdl:message>
  <wsdl:message name="GetByTypSoapOut">
    <wsdl:part name="parameters" element="tns:GetByTypResponse" />
  </wsdl:message>
  <wsdl:message name="GetByTypPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetByAdressSoapIn">
    <wsdl:part name="parameters" element="tns:GetByAdress" />
  </wsdl:message>
  <wsdl:message name="GetByAdressSoapOut">
    <wsdl:part name="parameters" element="tns:GetByAdressResponse" />
  </wsdl:message>
  <wsdl:message name="GetByAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetByAdressVariantSoapIn">
    <wsdl:part name="parameters" element="tns:GetByAdressVariant" />
  </wsdl:message>
  <wsdl:message name="GetByAdressVariantSoapOut">
    <wsdl:part name="parameters" element="tns:GetByAdressVariantResponse" />
  </wsdl:message>
  <wsdl:message name="GetByAdressVariantPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="AddAdressTypSoapIn">
    <wsdl:part name="parameters" element="tns:AddAdressTyp" />
  </wsdl:message>
  <wsdl:message name="AddAdressTypSoapOut">
    <wsdl:part name="parameters" element="tns:AddAdressTypResponse" />
  </wsdl:message>
  <wsdl:message name="AddAdressTypPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ChangeAdressTypSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeAdressTyp" />
  </wsdl:message>
  <wsdl:message name="ChangeAdressTypSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeAdressTypResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeAdressTypPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveAdressTypSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveAdressTyp" />
  </wsdl:message>
  <wsdl:message name="RemoveAdressTypSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveAdressTypResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveAdressTypPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeView" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeViewResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewSoapIn">
    <wsdl:part name="parameters" element="tns:SetCurrentTimeView" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewSoapOut">
    <wsdl:part name="parameters" element="tns:SetCurrentTimeViewResponse" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="AdressTypServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input name="All" message="tns:AllSoapIn" />
      <wsdl:output name="All" message="tns:AllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input name="ById" message="tns:ByIdSoapIn" />
      <wsdl:output name="ById" message="tns:ByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByTyp">
      <wsdl:input message="tns:GetByTypSoapIn" />
      <wsdl:output message="tns:GetByTypSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <wsdl:input message="tns:GetByAdressSoapIn" />
      <wsdl:output message="tns:GetByAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByAdressTyp">
      <wsdl:input name="GetByAdressVariant" message="tns:GetByAdressVariantSoapIn" />
      <wsdl:output name="GetByAdressVariant" message="tns:GetByAdressVariantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAdressTyp">
      <wsdl:input message="tns:AddAdressTypSoapIn" />
      <wsdl:output message="tns:AddAdressTypSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAdressTyp">
      <wsdl:input message="tns:ChangeAdressTypSoapIn" />
      <wsdl:output message="tns:ChangeAdressTypSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdressTyp">
      <wsdl:input message="tns:RemoveAdressTypSoapIn" />
      <wsdl:output message="tns:RemoveAdressTypSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <wsdl:input message="tns:GetCurrentTimeViewSoapIn" />
      <wsdl:output message="tns:GetCurrentTimeViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <wsdl:input message="tns:SetCurrentTimeViewSoapIn" />
      <wsdl:output message="tns:SetCurrentTimeViewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdressTypServiceSoap" type="tns:AdressTypServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input name="All">
        <soap:body use="literal" />
        <soap:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="All">
        <soap:body use="literal" />
        <soap:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ById" style="document" />
      <wsdl:input name="ById">
        <soap:body use="literal" />
        <soap:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ById">
        <soap:body use="literal" />
        <soap:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByTyp">
      <soap:operation soapAction="http://tempuri.org/GetByTyp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetByTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetByTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <soap:operation soapAction="http://tempuri.org/GetByAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdressTyp">
      <soap:operation soapAction="http://tempuri.org/GetByAdressVariant" style="document" />
      <wsdl:input name="GetByAdressVariant">
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressVariantPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetByAdressVariant">
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressVariantPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdressTyp">
      <soap:operation soapAction="http://tempuri.org/AddAdressTyp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:AddAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdressTyp">
      <soap:operation soapAction="http://tempuri.org/ChangeAdressTyp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangeAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ChangeAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdressTyp">
      <soap:operation soapAction="http://tempuri.org/RemoveAdressTyp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <soap:operation soapAction="http://tempuri.org/GetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <soap:operation soapAction="http://tempuri.org/SetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdressTypServiceSoap12" type="tns:AdressTypServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input name="All">
        <soap12:body use="literal" />
        <soap12:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="All">
        <soap12:body use="literal" />
        <soap12:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/ById" style="document" />
      <wsdl:input name="ById">
        <soap12:body use="literal" />
        <soap12:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ById">
        <soap12:body use="literal" />
        <soap12:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByTyp">
      <soap12:operation soapAction="http://tempuri.org/GetByTyp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <soap12:operation soapAction="http://tempuri.org/GetByAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdressTyp">
      <soap12:operation soapAction="http://tempuri.org/GetByAdressVariant" style="document" />
      <wsdl:input name="GetByAdressVariant">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressVariantPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="GetByAdressVariant">
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressVariantPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdressTyp">
      <soap12:operation soapAction="http://tempuri.org/AddAdressTyp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAdressTyp">
      <soap12:operation soapAction="http://tempuri.org/ChangeAdressTyp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangeAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangeAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdressTyp">
      <soap12:operation soapAction="http://tempuri.org/RemoveAdressTyp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveAdressTypPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <soap12:operation soapAction="http://tempuri.org/SetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdressTypService">
    <wsdl:port name="AdressTypServiceSoap" binding="tns:AdressTypServiceSoap">
      <soap:address location="http://localhost:64115/AdressTypService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdressTypServiceSoap12" binding="tns:AdressTypServiceSoap12">
      <soap12:address location="http://localhost:64115/AdressTypService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>