PTJ.Person.Presentation/Web References/MailService/MailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="All">
        <s:complexType />
      </s:element>
      <s:element name="AllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllResult" type="tns:TransportMessageOfArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfArrayOfMailSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfMailSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfMailSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMailSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MailSchema" nillable="true" type="tns:MailSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MailSchema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Adress_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressTyp_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressVariant_FKID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MailAdress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SkapadDatum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateradDatum" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msgType" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="EventTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ordinal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MsgType" type="tns:MessageType" />
          <s:element minOccurs="1" maxOccurs="1" name="eventTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="exceptionMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageType">
        <s:restriction base="s:string">
          <s:enumeration value="Nothing" />
          <s:enumeration value="Information" />
          <s:enumeration value="Validation" />
          <s:enumeration value="Security" />
          <s:enumeration value="Warning" />
          <s:enumeration value="Abbend" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PTJSoapHeader" type="tns:PTJSoapHeader" />
      <s:complexType name="PTJSoapHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeView" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentDataRole" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentRowLevelSecurity" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ByIdResult" type="tns:TransportMessageOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfMailSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:MailSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:MailSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByAdressResult" type="tns:TransportMessageOfArrayOfKeyValueOfMailSchemaAdressSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransportMessageOfArrayOfKeyValueOfMailSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfKeyValueOfMailSchemaAdressSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="lstMessages" type="tns:ArrayOfMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfKeyValueOfMailSchemaAdressSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValueOfMailSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfMailSchemaAdressSchema" nillable="true" type="tns:KeyValueOfMailSchemaAdressSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueOfMailSchemaAdressSchema">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="tns:MailSchema" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:AdressSchema" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdressSchema">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressTyp_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Person_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Organisation_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdressVariant_FKID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SkapadDatum" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateradDatum" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByMailAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByMailAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByMailAdressResult" type="tns:TransportMessageOfArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMailAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMailAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddMailAdressResult" type="tns:TransportMessageOfArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeMailAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeMailAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeMailAdressResult" type="tns:TransportMessageOfArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMailAdress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lstItems" type="tns:ArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMailAdressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveMailAdressResult" type="tns:TransportMessageOfArrayOfMailSchema" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentTimeView">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentTimeViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentTimeViewResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCurrentTimeView">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCurrentTimeViewResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AllSoapIn">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="AllSoapOut">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="AllPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ById" />
  </wsdl:message>
  <wsdl:message name="ByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ByIdPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetByAdressSoapIn">
    <wsdl:part name="parameters" element="tns:GetByAdress" />
  </wsdl:message>
  <wsdl:message name="GetByAdressSoapOut">
    <wsdl:part name="parameters" element="tns:GetByAdressResponse" />
  </wsdl:message>
  <wsdl:message name="GetByAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetByMailAdressSoapIn">
    <wsdl:part name="parameters" element="tns:GetByMailAdress" />
  </wsdl:message>
  <wsdl:message name="GetByMailAdressSoapOut">
    <wsdl:part name="parameters" element="tns:GetByMailAdressResponse" />
  </wsdl:message>
  <wsdl:message name="GetByMailAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="AddMailAdressSoapIn">
    <wsdl:part name="parameters" element="tns:AddMailAdress" />
  </wsdl:message>
  <wsdl:message name="AddMailAdressSoapOut">
    <wsdl:part name="parameters" element="tns:AddMailAdressResponse" />
  </wsdl:message>
  <wsdl:message name="AddMailAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ChangeMailAdressSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeMailAdress" />
  </wsdl:message>
  <wsdl:message name="ChangeMailAdressSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeMailAdressResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeMailAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveMailAdressSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMailAdress" />
  </wsdl:message>
  <wsdl:message name="RemoveMailAdressSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMailAdressResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMailAdressPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeView" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentTimeViewResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentTimeViewPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewSoapIn">
    <wsdl:part name="parameters" element="tns:SetCurrentTimeView" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewSoapOut">
    <wsdl:part name="parameters" element="tns:SetCurrentTimeViewResponse" />
  </wsdl:message>
  <wsdl:message name="SetCurrentTimeViewPTJSoapHeader">
    <wsdl:part name="PTJSoapHeader" element="tns:PTJSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="MailServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input name="All" message="tns:AllSoapIn" />
      <wsdl:output name="All" message="tns:AllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input name="ById" message="tns:ByIdSoapIn" />
      <wsdl:output name="ById" message="tns:ByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <wsdl:input message="tns:GetByAdressSoapIn" />
      <wsdl:output message="tns:GetByAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByMailAdress">
      <wsdl:input message="tns:GetByMailAdressSoapIn" />
      <wsdl:output message="tns:GetByMailAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMailAdress">
      <wsdl:input message="tns:AddMailAdressSoapIn" />
      <wsdl:output message="tns:AddMailAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMailAdress">
      <wsdl:input message="tns:ChangeMailAdressSoapIn" />
      <wsdl:output message="tns:ChangeMailAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMailAdress">
      <wsdl:input message="tns:RemoveMailAdressSoapIn" />
      <wsdl:output message="tns:RemoveMailAdressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <wsdl:input message="tns:GetCurrentTimeViewSoapIn" />
      <wsdl:output message="tns:GetCurrentTimeViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <wsdl:input message="tns:SetCurrentTimeViewSoapIn" />
      <wsdl:output message="tns:SetCurrentTimeViewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailServiceSoap" type="tns:MailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input name="All">
        <soap:body use="literal" />
        <soap:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="All">
        <soap:body use="literal" />
        <soap:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ById" style="document" />
      <wsdl:input name="ById">
        <soap:body use="literal" />
        <soap:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ById">
        <soap:body use="literal" />
        <soap:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <soap:operation soapAction="http://tempuri.org/GetByAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByMailAdress">
      <soap:operation soapAction="http://tempuri.org/GetByMailAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetByMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetByMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMailAdress">
      <soap:operation soapAction="http://tempuri.org/AddMailAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AddMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:AddMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMailAdress">
      <soap:operation soapAction="http://tempuri.org/ChangeMailAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ChangeMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ChangeMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMailAdress">
      <soap:operation soapAction="http://tempuri.org/RemoveMailAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:RemoveMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <soap:operation soapAction="http://tempuri.org/GetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <soap:operation soapAction="http://tempuri.org/SetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailServiceSoap12" type="tns:MailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input name="All">
        <soap12:body use="literal" />
        <soap12:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="All">
        <soap12:body use="literal" />
        <soap12:header message="tns:AllPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/ById" style="document" />
      <wsdl:input name="ById">
        <soap12:body use="literal" />
        <soap12:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output name="ById">
        <soap12:body use="literal" />
        <soap12:header message="tns:ByIdPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByAdress">
      <soap12:operation soapAction="http://tempuri.org/GetByAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByMailAdress">
      <soap12:operation soapAction="http://tempuri.org/GetByMailAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetByMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMailAdress">
      <soap12:operation soapAction="http://tempuri.org/AddMailAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:AddMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMailAdress">
      <soap12:operation soapAction="http://tempuri.org/ChangeMailAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangeMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ChangeMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMailAdress">
      <soap12:operation soapAction="http://tempuri.org/RemoveMailAdress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:RemoveMailAdressPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTimeView">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentTimeView">
      <soap12:operation soapAction="http://tempuri.org/SetCurrentTimeView" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetCurrentTimeViewPTJSoapHeader" part="PTJSoapHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailService">
    <wsdl:port name="MailServiceSoap" binding="tns:MailServiceSoap">
      <soap:address location="http://localhost:64115/MailService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailServiceSoap12" binding="tns:MailServiceSoap12">
      <soap12:address location="http://localhost:64115/MailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>